/*
 sm     =   small   =   phone-small     = 576px     = 36em;
 md     =   medium  =   phone-large     = 768px     = 48em;
 lg     =   large   =   phone-tablet    = 992px     = 62em;
 xl     =   xlarge  =   desktop         = 1200px    = 75em;
 xxl    =   xxl     =   big desktop     = 1400px    = 87.5em;

 1em = 16px;
*/
/*
When using MAX and Desktop first approach the biggest screen size
shall be on top for right cascading of styles(smallest shall be last)
*/
/*
When using MIN and Mobile first approach the smalles screen size
shall be on top for right cascading of styles(bigest shall be last)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #777777;
  padding: 1.5rem;
}

@media (max-width: 991.9px) {
  body {
    padding: 0px;
  }
}

html {
  font-size: 100%;
}

@media (max-width: 991.9px) {
  html {
    font-size: 0.8rem;
  }
}

@media (max-width: 767.9px) {
  html {
    font-size: 0.65rem;
  }
}

section {
  background-color: #f7f7f7;
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  80% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  80% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  80% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  80% {
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.7rem;
}

.heading-primary {
  color: #ffffff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 50px;
}

.heading-primary--main {
  display: block;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 1.5rem;
  line-height: 3rem;
  padding-bottom: 1.7rem;
  -webkit-animation: moveInLeft 1.5s ease-out 1s;
          animation: moveInLeft 1.5s ease-out 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.heading-primary--sub {
  display: block;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 1rem;
  -webkit-animation: moveInRight 1s ease-out 1.5s;
          animation: moveInRight 1s ease-out 1.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

@media (max-width: 767.9px) {
  .heading-primary--sub {
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 1.2rem;
  }
}

.heading-secondary {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: -webkit-gradient(linear, left top, right top, from(#8cd56f), to(#28b485));
  background-image: linear-gradient(to right, #8cd56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 767.9px) {
  .heading-secondary {
    line-height: 2.5rem;
  }
}

.heading-secondary:hover {
  font-size: 1.85rem;
  color: #1f8a66;
}

.heading-tertiary {
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 767.9px) {
  .heading-tertiary {
    font-size: 1.4rem;
  }
}

@media (max-width: 767.9px) {
  p {
    line-height: 2.2rem;
  }
}

@media (max-width: 767.9px) {
  p {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

.paragraph:not(:last-child) {
  margin-bottom: 2rem;
}

.u-center-text {
  text-align: center !important;
}

.u-mb-1 {
  margin-bottom: 1rem !important;
}

.u-mb-2 {
  margin-bottom: 2.5rem !important;
}

.u-mb-5 {
  margin-bottom: 5rem !important;
}

.header {
  position: relative;
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(140, 213, 111, 0.6)), to(rgba(40, 180, 133, 0.9))), url("../img/hero.jpg");
  background-image: linear-gradient(to right bottom, rgba(140, 213, 111, 0.6), rgba(40, 180, 133, 0.9)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}

@media (max-width: 991.9px) {
  .header {
    height: 100vh;
  }
}

.header__logo {
  height: 35px;
  width: auto;
}

.header__logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 767.9px) {
  .header__text-box h1 {
    margin-bottom: 2.5rem;
  }
}

.row {
  max-width: 1119px;
  margin: 0 auto;
  padding: 0px 25px;
}

.row:not(:last-child) {
  margin-bottom: 5rem;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1-1 {
  width: 100%;
}

.col-1-2 {
  width: calc((100% - (2rem)) / 2);
}

.col-1-3 {
  width: calc((100% - (2rem*2)) / 3);
}

.col-2-3 {
  width: calc(100% - (((100% - (2rem*2)) / 3)) - 2rem);
}

.col-1-4 {
  width: calc((100% - (2rem*3)) / 4);
}

[class^="col-"] {
  float: left;
}

[class^="col-"]:not(:last-child) {
  margin-right: 2rem;
}

@media (max-width: 991.9px) {
  [class^="col-"]:not(:last-child) {
    margin-right: 0 !important;
  }
}

@media (max-width: 991.9px) {
  [class^="col-"] {
    width: 100% !important;
  }
}

.footer {
  background-color: #252525;
  padding: 6rem 0;
  font-size: 0.9rem;
}

.footer__logo-box {
  text-align: center;
  margin: 5rem;
}

.footer__logo {
  width: 15rem;
  height: auto;
}

.footer__navigation, .footer__copyright {
  color: #f7f7f7;
  border-top: 1px solid #777777;
  padding-top: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.footer__ul {
  list-style: none;
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 1rem;
}

.footer__link:visited, .footer__link:link {
  color: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.footer__link:hover, .footer__link:active {
  color: #55c57a;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}

.navigation__checkbox {
  display: none;
}

.navigation__button {
  background-color: white;
  position: relative;
  height: 3.5rem;
  width: 3.5rem;
  position: fixed;
  top: 3rem;
  right: 4.25rem;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.navigation__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  width: 45%;
  height: 2px;
  background-color: black;
  z-index: 4000;
}

.navigation__icon::before, .navigation__icon::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.navigation__icon::before {
  top: -400%;
}

.navigation__icon::after {
  top: 400%;
}

.navigation__background {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  position: fixed;
  top: 3rem;
  right: 4.5rem;
  background-image: radial-gradient(#8cd56f, #28b485);
  z-index: 1000;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.navigation__item {
  margin: 0.3rem;
}

.navigation__link {
  display: inline-block;
}

.navigation__link:link, .navigation__link:visited {
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 1rem 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, rgba(255, 255, 255, 0) 50%, white 50%);
  background-size: 230%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.navigation__link:hover, .navigation__link:active {
  color: black;
  background-position: 100%;
  -webkit-transform: translateX(0.5rem);
          transform: translateX(0.5rem);
}

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}

.navigation__checkbox ~ .navigation__button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.navigation__checkbox:checked ~ .navigation__button > .navigation__icon {
  background-color: transparent;
}

.navigation__checkbox:checked ~ .navigation__button > .navigation__icon::before {
  top: 0%;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation__checkbox:checked ~ .navigation__button > .navigation__icon::after {
  top: 0%;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.popup {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup__close {
  text-decoration: none;
  font-size: 2.5rem;
  float: right;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  margin: 5px 10px 0 0;
}

.popup__close:hover {
  -webkit-transform: rotate(-175deg);
          transform: rotate(-175deg);
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  -webkit-transform: scaleX(1.6) scaleY(1.3);
          transform: scaleX(1.6) scaleY(1.3);
  opacity: 0;
}

.btn::after {
  content: ' ';
  display: inline-block;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn:active, .btn:focus {
  outline: none;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.6);
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  border: none;
  cursor: pointer;
}

.btn--white {
  background-color: #fff;
  color: var(--lightgrey);
}

@media (max-width: 767.9px) {
  .btn--white {
    font-weight: 700;
  }
}

.btn--white::after {
  background-color: #fff;
}

.btn--green {
  color: white;
  background-color: #28b485;
}

.btn--green::after {
  background-color: #28b485;
}

.btn--animation {
  -webkit-animation: moveInBottom 0.5s ease-out .75;
          animation: moveInBottom 0.5s ease-out .75;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  border-bottom: 1px solid;
}

.btn-text--green {
  color: #28b485;
  border-bottom-color: #28b485;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.btn-text--green:hover {
  border-bottom-color: transparent;
  color: white;
  background-color: #28b485;
  -webkit-box-shadow: 1px 3px 7px #156147;
          box-shadow: 1px 3px 7px #156147;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.btn-text--green:active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-text--white-on-green {
  color: white;
  background-color: #28b485;
}

.image-gallery {
  position: relative;
}

@media (max-width: 991.9px) {
  .image-gallery {
    padding-top: 5rem;
  }
}

.image-gallery__photo {
  width: 55%;
  -webkit-box-shadow: 0 10px 30px rgba(12, 55, 41, 0.6);
          box-shadow: 0 10px 30px rgba(12, 55, 41, 0.6);
  position: absolute;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 991.9px) {
  .image-gallery__photo {
    width: 50%;
    position: relative;
    display: inline-block;
    float: left;
  }
}

.image-gallery__photo:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  z-index: 10;
}

.image-gallery__photo--p1 {
  left: -10%;
  z-index: 1;
}

@media (max-width: 991.9px) {
  .image-gallery__photo--p1 {
    left: 0px;
  }
}

.image-gallery__photo--p2 {
  top: 150px;
  left: 15%;
  z-index: 2;
}

@media (max-width: 991.9px) {
  .image-gallery__photo--p2 {
    top: 100px;
    left: -5%;
  }
}

.image-gallery__photo--p3 {
  top: 50px;
  left: 50%;
  z-index: 0;
}

@media (max-width: 991.9px) {
  .image-gallery__photo--p3 {
    top: 10%;
    left: -30%;
  }
}

.feature-box {
  padding: 2.5rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

@media (max-width: 991.9px) {
  .feature-box {
    padding: 2.5rem 10% 5rem;
    margin-bottom: 2.5rem;
  }
}

.feature-box > *:not(:last-child) {
  padding-bottom: 2.5rem;
}

.feature-box:hover {
  -webkit-transform: scale(1.1) translateY(-2rem);
          transform: scale(1.1) translateY(-2rem);
}

.feature-box__icon {
  font-size: 3.5rem;
}

.feature-box__icon i {
  background-image: -webkit-gradient(linear, left top, right top, from(#8cd56f), to(#28b485));
  background-image: linear-gradient(to right, #8cd56f, #28b485);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
}

.feature-box--white {
  background-color: #fff;
  border-radius: 0.3rem;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
}

.card-popular {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  height: 37rem;
}

@media (max-width: 991.9px) {
  .card-popular {
    height: auto;
    margin-bottom: 5rem;
  }
}

.card-popular__side {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  position: relative;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  overflow: hidden;
}

.card-popular__side::after {
  content: "";
  clear: both;
  display: table;
}

@media (max-width: 991.9px) {
  .card-popular__side {
    position: relative;
  }
}

.card-popular__side--front {
  background-color: #fff;
}

.card-popular__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media (max-width: 991.9px) {
  .card-popular__side--back {
    -webkit-transform: none;
            transform: none;
    height: 50%;
  }
}

.card-popular__side--green {
  background-image: -webkit-gradient(linear, right top, left top, from(#28b485), to(#8cd56f));
  background-image: linear-gradient(to left, #28b485, #8cd56f);
}

.card-popular__side--blue {
  background-image: -webkit-gradient(linear, right top, left top, from(#5647fa), to(#2998ff));
  background-image: linear-gradient(to left, #5647fa, #2998ff);
}

.card-popular__side--orange {
  background-image: -webkit-gradient(linear, right top, left top, from(#ff7730), to(#ffb900));
  background-image: linear-gradient(to left, #ff7730, #ffb900);
}

.card-popular:hover .card-popular__side--front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

@media (max-width: 991.9px) {
  .card-popular:hover .card-popular__side--front {
    -webkit-transform: none;
            transform: none;
  }
}

.card-popular:hover .card-popular__side--back {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

@media (max-width: 991.9px) {
  .card-popular:hover .card-popular__side--back {
    -webkit-transform: none;
            transform: none;
  }
}

.card-popular__image {
  background-size: cover;
  background-blend-mode: screen;
  height: 45%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

@media (max-width: 991.9px) {
  .card-popular__image {
    height: 25rem;
  }
}

.card-popular__image--orange {
  background-image: -webkit-gradient(linear, right top, left top, from(#ff7730), to(#ffb900)), url(../img/nat-5.jpg);
  background-image: linear-gradient(to left, #ff7730, #ffb900), url(../img/nat-5.jpg);
}

.card-popular__image--green {
  background-image: -webkit-gradient(linear, right top, left top, from(#28b485), to(#8cd56f)), url(../img/nat-6.jpg);
  background-image: linear-gradient(to left, #28b485, #8cd56f), url(../img/nat-6.jpg);
}

.card-popular__image--blue {
  background-image: -webkit-gradient(linear, right top, left top, from(#5647fa), to(#2998ff)), url(../img/nat-7.jpg);
  background-image: linear-gradient(to left, #5647fa, #2998ff), url(../img/nat-7.jpg);
}

.card-popular__heading {
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: white;
  position: absolute;
  top: 30%;
  right: 2rem;
}

.card-popular__heading--orange {
  background-color: rgba(255, 119, 48, 0.6);
}

.card-popular__heading--green {
  background-color: rgba(40, 180, 133, 0.6);
}

.card-popular__heading--blue {
  background-color: rgba(86, 71, 250, 0.6);
}

.card-popular__list {
  padding: 50px;
}

.card-popular__list ul {
  list-style: none;
}

.card-popular__list ul li {
  line-height: 1.6rem;
  text-align: center;
  padding: 10px 0px;
}

.card-popular__list ul li:not(:last-child) {
  border-bottom: 1px solid #f7f7f7;
}

.card-popular__price {
  width: 100%;
  padding: 120px 50px;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
}

@media (max-width: 991.9px) {
  .card-popular__price {
    padding: 2.5rem 50px;
  }
}

.card-popular__price h4 {
  font-size: 3rem;
  font-weight: 300;
  padding-top: 50px;
}

.card-popular__cta {
  text-align: center;
}

@media (max-width: 991.9px) {
  .card-popular__cta {
    margin-bottom: 2.5rem;
  }
}

.story {
  width: 75%;
  margin: 0 auto;
  padding: 3.3rem;
  padding-left: 4.8rem;
  background-color: rgba(255, 255, 255, 0.7);
  background-image: url();
  border-radius: 0.3rem;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
  z-index: 3;
}

.story__shape {
  width: 10rem;
  height: 10rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-1.5rem) skewX(12deg);
          transform: translateX(-1.5rem) skewX(12deg);
  position: relative;
}

.story__image {
  height: 100%;
  -webkit-transform: translateX(-10%) scale(1.4);
          transform: translateX(-10%) scale(1.4);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story__text {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.story:hover .story__image {
  -webkit-transform: translateX(-10%) scale(1.1);
          transform: translateX(-10%) scale(1.1);
  -webkit-filter: blur(3px) brightness(80%);
          filter: blur(3px) brightness(80%);
}

.bg-video {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: 0.2;
  -webkit-filter: saturate(0.8);
          filter: saturate(0.8);
}

.bg-video__content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form__group:not(:last-child) {
  margin-bottom: 1.2rem;
}

.form__input {
  font-size: 0.9rem;
  font-family: inherit;
  color: inherit;
  padding: 0.9rem 1.2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: black;
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.8rem 1.2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #55c57a;
}

.form__input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

.form__input::-webkit-input-placeholder {
  color: #777777;
}

.form__label {
  font-size: 0.6rem;
  font-weight: 700;
  margin-left: 1.2rem;
  margin-top: 0.3rem;
  display: block;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.form__radio-group {
  width: 50%;
  display: inline-block;
  float: left;
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
  padding-left: 2rem;
}

.form__radio-button {
  height: 1.5rem;
  width: 1.5rem;
  border: 3px solid #55c57a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.2rem;
}

.form__radio-button::after {
  content: '';
  height: 0.5rem;
  width: 0.5rem;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #55c57a;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.form__radio-input:checked + .form__radio-label > .form__radio-button::after {
  opacity: 1;
}

.box {
  top: 50%;
  margin: 0 auto;
  margin: 15vh;
  background-color: white;
  min-width: 500px;
  max-width: 80%;
  height: 70vh;
  overflow: hidden;
}

.box__images {
  height: 100%;
}

.box__image {
  background-color: red;
  height: 50%;
  width: 100%;
  background-size: cover;
}

.box__image--first {
  background-image: url(../img/nat-5.jpg);
}

.box__image--second {
  background-image: url(../img/nat-6.jpg);
}

.box__text {
  padding: 5rem 5% 5rem 5%;
}

@media (max-width: 991.9px) {
  .box__text {
    padding-top: 25%;
  }
}

.box__text--columns {
  -webkit-columns: 2;
          columns: 2;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  font-size: 0.9rem;
}

@media (max-width: 991.9px) {
  .box__text--columns {
    -webkit-columns: 1;
            columns: 1;
    font-size: 1rem;
  }
}

.box--width-1-3 {
  width: 33%;
  float: left;
  display: table-cell;
}

.box--width-2-3 {
  width: 66%;
  float: right;
}

.section-about {
  padding: 25rem 0;
  margin-top: -20rem;
}

.section-feature {
  margin-top: -20rem;
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(140, 213, 111, 0.6)), to(rgba(40, 180, 133, 0.9))), url("../img/nat-4.jpg");
  background-image: linear-gradient(to right bottom, rgba(140, 213, 111, 0.6), rgba(40, 180, 133, 0.9)), url("../img/nat-4.jpg");
  background-size: cover;
  background-position: top;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
}

@media (max-width: 991.9px) {
  .section-feature {
    margin-top: -15rem;
    padding: 10rem 0 7.5rem 0;
  }
}

.section-feature > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-popular {
  margin-top: -10rem;
  padding: 20rem 0 5rem 0;
}

@media (max-width: 991.9px) {
  .section-popular a.btn--green {
    display: none;
  }
}

.section-stories {
  background-color: initial;
  position: relative;
  padding: 10rem 0 5rem 0;
}

.section-book {
  padding: 5rem 0 5rem 0;
  background-image: -webkit-gradient(linear, right top, left top, from(#28b485), to(#8cd56f));
  background-image: linear-gradient(to left, #28b485, #8cd56f);
}

.book {
  height: 30rem;
}

.book--white-style {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0) 100%), url(../img/nat-10.jpg);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-size: cover;
  -webkit-box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0.3rem;
}

.book__form {
  width: 50%;
  padding: 3rem;
}
/*# sourceMappingURL=main.css.map */