.section-about {
    padding: 25rem 0;
    margin-top: -20rem;
}

.section-feature {
    margin-top:-20rem;
    padding:20rem 0;
    background-image: linear-gradient(to right bottom, rgba(140, 213, 111, 0.6), rgba($color-primary-dark, 0.9)), url('../img/nat-4.jpg');
    background-size: cover;
    background-position: top;
    transform: skewY(-7deg);

    &>* {
        transform: skewY(7deg);
    }
}

.section-popular {
    margin-top:-10rem;
    padding:20rem 0 5rem 0;
}

.section-stories {
    background-color: initial;
    position: relative;
    
    padding:10rem 0 5rem 0;
}