.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(140, 213, 111, 0.6), rgba($color-primary-dark, 0.9)), url('../img/hero-small.jpg');
    @media (min-resolution: 192dpi) and (min-width:600px){
        background-image: linear-gradient(to right bottom, rgba(140, 213, 111, 0.6), rgba($color-primary-dark, 0.9)), url('../img/hero.jpg');  
    }
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow: hidden;
    @include respond-df(lg){
        height: 100vh;
    }

    &__logo {
        height: 35px;
        width: auto;
    }

    &__logo-box {
        position: absolute;
        top: 40px;
        left: 40px;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
       transform: translate(-50%, -50%);
        text-align: center;

        @include respond-df(md){
            h1{
                margin-bottom:2.5rem;
            }
        }
    }
}