.header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(140, 213, 111, 0.6), rgba($color-primary-dark, 0.9)), url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    overflow: hidden;


    &__logo {
        height: 35px;
        width: auto;
    }

    &__logo-box {
        position: absolute;
        top: 40px;
        left: 40px;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.heading-primary {
    color: #ffffff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 50px;

    &--main {
        display: block;
        font-size: 3rem;
        font-weight: 100;
        letter-spacing: 1.5rem;
        line-height: 3rem;
        padding-bottom: 1.7rem;

        animation: moveInLeft 1.5s ease-out 1s;
        animation-fill-mode: backwards;
    }

    &--sub {
        display: block;
        font-weight: 700;
        font-size: 1.2rem;
        letter-spacing: 1rem;

        animation: moveInRight 1s ease-out 1.5s;
        animation-fill-mode: backwards;
    }
}