.navigation{
    &__checkbox{
        display: none;
    }

    &__button{
        background-color: white;
        border:2px solid black;
        height: 4.5rem;
        width: 4.5rem;
        position: fixed;
        top:4.25rem;
        right: 4.25rem;
        border-radius:50%;
        z-index: 2000;
    }

    &__background{
        border:2px solid black;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        position: fixed;
        top: 4.5rem;
        right: 4.5rem;
        background-image: radial-gradient($color-primary-light, $color-primary-dark);
        z-index: 1000;

        transform: scale(80);
    }

    &__nav{
        height:100vh;
        width: 100%;
        position: fixed;
        top:0;
        right:0;
        z-index: 1500;
    }

    &__list {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, - 50%);
        list-style:none;
        text-align: center;
    }

    &__item{
        margin:0.3rem;
    }

    &__link{
        display: inline-block;
        &:link, &:visited{
            color:white;
            font-size:1.3rem;
        font-weight: 300;
        padding: 1rem 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, rgba(255,255,255,0) 50%, rgba(255, 255,255, 1) 50%);
        background-size: 230%;
        transition: all 0.4s;
        }

        &:hover, &:active {
            color: black;
            background-position: 100%;
            transform: translateX(0.5rem);
        }
        
    }
}