.card-popular {
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 90vh;
    
    
    &__side {
        transition: all 0.6s ease;
        position: relative;
        height:100%;
        width: 100%;
        position: absolute;
        top:0px;
        left:0px;
        backface-visibility: hidden;
        @include box-shadow;
        border-radius: $border-radius;
        overflow:hidden;
            
        &--front{
            background-color: $color-white;
           }
          
        &--back{
            transform: rotateY(180deg); 
        }

        &--green {
            background-image: linearGradient($color-primary-light, $color-primary-dark);
        }
        &--blue {
            background-image:linearGradient($color-blue-light, $color-blue-dark);
        }
        &--orange {
            background-image: linearGradient($color-orange-light, $color-orange-dark);
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    
&__image{
    background-size: cover;
    background-blend-mode: screen;
    height:45%;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100% );
    
    &--orange {
        background-image: linearGradient($color-orange-light, $color-orange-dark), url(../img/nat-5.jpg);
    }

    &--green {background-image: linearGradient($color-primary-light, $color-primary-dark), url(../img/nat-6.jpg);}

    &--blue {background-image: linearGradient($color-blue-light, $color-blue-dark), url(../img/nat-7.jpg);}
}

&__heading {
    padding:10px;
    font-size:1.3rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align:right;
    color: white;
    position: absolute;
    top: 30%;
    right:2rem;

    &--orange { background-color: rgba($color-orange-dark, 0.6);}
    &--green { background-color: rgba($color-primary-dark, 0.6);}
    &--blue { background-color: rgba($color-blue-dark, 0.6);}
}

&__list {
    padding: 50px;
    ul {
        list-style: none;
        li {
            line-height: 1.6rem;
                text-align: center;
                padding: 10px 0px;

            &:not(:last-child){
                border-bottom: 1px solid $color-grey-light;
            }
        }
    }

}

&__price {
    width: 100%;
    padding:120px 50px;
    color: white;
    font-size:0.9rem;
    text-transform: uppercase;

    h4{
        font-size: 3rem;
        font-weight: 300;
        padding-top: 50px;
    }
}

&__cta {
    text-align: center;
}

}
