.feature-box {
    padding: 2.5rem;
    transition: transform 0.5s ease;

    &>*{
        &:not(:last-child){
            padding-bottom: 2.5rem;
        }
    }

    &:hover{
        //transform: translateY(-6rem);
        transform: scale(1.1) translateY(-2rem);
    }
    
    &__icon {
        font-size: 3.5rem;

        i{  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            display: inline-block;
        }
    }
    
    &--white {
        background-color: $color-white;
        border-radius: 0.5rem;
        box-shadow: 1px 2px 10px rgba(darken($color-grey-dark, 30%), 0.7);
    } 
}