.image-gallery {
    position: relative;

    @include respond-df(lg){
        padding-top:5rem;
    }

    &__photo {
        width:55%;
        box-shadow:0 10px 30px rgba(darken($color-primary-dark, 30%), 0.6);
        position: absolute;
        transition: all 0.3s ease;

        @include respond-df(lg){
            width: 50%;
            position: relative;
            display: inline-block;
            float: left;
        }

        @include respond-df(md){
            width: 100%;
        }

        &:hover{
            transform: scale(1.5);
            z-index: 10;
        }
        

        &--p1 {
            left: -10%;
            z-index:1;
            @include respond-df(lg){
                left: 0px;
            }
        }

        &--p2 {
            top:150px;
            left:15%;
            z-index: 2;

            @include respond-df(lg){
                top:100px;
                left:-5%;
            }

            @include respond-df(md){
                top:2.5rem;
                left:0px;
            }
        }

        &--p3 {
            top:50px;
            left: 50%;
            z-index: 0;

            @include respond-df(lg){
                top:10%;
                left:-30%;
            }

            @include respond-df(md){
                top:5rem;
                left:0px;
            }
        }
    }
}