.story {
    width:75%;
    margin: 0 auto;
    padding:3.3rem;
    padding-left: 4.8rem;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url();
    border-radius:$border-radius;
    @include box-shadow;
    transform: skewX(-12deg); 

    &__shape {
        width: 10rem;
        height: 10rem;
        float:left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-1.5rem) skewX(12deg);
    }

    &__image {
        height:100%;
    }

    &__text {
        transform: skewX(12deg);
    }
}