.story {
    width:75%;
    margin: 0 auto;
    padding:3.3rem;
    padding-left: 4.8rem;
    background-color: rgba(255, 255, 255, 0.7);
    background-image: url();
    border-radius:$border-radius;
    @include box-shadow;
    transform: skewX(-12deg);
    z-index:3;

    @include respond-df(md){
        transform: none;
        width: 100%;
        padding:2.5rem;
    }

    &__shape {
        width: 10rem;
        height: 10rem;
        float:left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-1.5rem) skewX(12deg);
        position: relative;

        @include respond-df(md){
            transform: none;
            shape-outside: none;
            float: none;
            margin:0 auto;
            margin-bottom:2.5rem;
        }
    }

    &__image {
        height:100%;
        transform:translateX(-10%) scale(1.4);
        transition: all 0.2s ease;
    }

    &__caption {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, 0%);

        text-align: center;
        color: white;
        text-transform: uppercase;
        font-weight: bold;

        opacity:0;
        transition: all 0.5s ease;
        backface-visibility: hidden;
    }

    &__text {
        transform: skewX(12deg);
        @include respond-df(md){
            transform: none;
            h3 {
                text-align: center;
            }
        }
    }

    &:hover &__caption {
        opacity:1;
        transform: translate(-50%, -50%);
    }

    &:hover &__image {
        transform:translateX(-10%) scale(1.1);
        filter: blur(3px) brightness(80%);
    }

}