@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

@mixin box-shadow {
    box-shadow: 1px 2px 10px rgba(0,0,0, 0.3);
}

@function linearGradient($color-from, $color-to){
    @return linear-gradient(to left, $color-to, $color-from);  
}